<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/rel.jpeg">
  <title>TE IR 3DE</title>
  <meta name="description" content="Edvarts WebRoom v1.1">
  <meta name="keywords" content="proximity is just insanity without proximi">
  <meta name="author" content="Edvarts Daniels">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/wireframe.css">
</head>

<body class="">
  <nav class="navbar navbar-expand-md navbar-dark bg-info" style="">
    <div class="container">
      <a class="navbar-brand d-inline-flex" href="/"><b>EDE</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
        <ul class="navbar-nav border-danger">
          <li class="nav-item">
            <a class="nav-link mx-2" href="info.html">info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="bio.html">bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="contact.html">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="h-50 d-flex align-items-center bg-info">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-md-6">
          <h1 class="display-1 text-white" style="">24<br>9<br>2000-4</h1>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
