<!DOCTYPE html>
<html lang="lv">

	<head>
	<meta charset="utf-8">
	<title>Boogle</title>
	<link rel="icon" type="image/png" href="gagl.jpg" sizes="40x40" />
	<link rel="stylesheet" type="text/css" href="static/LYOS.css">
	</head>
<body>
	<div>
	<ul class="nav">
		<li>
			<a href="https://mail.google.com/mail/?tab=wm"> Gmail </a>
		</li>
		<li>
			<a href="https://www.google.lv/imghp?hl=lv&tab=wi">Attēli</a>
		</li>
		<li><a href="https://www.google.lv/intl/lv/about/products?tab=wh"><img src="grid.png"></a></li>
		<li ><span class="b"><a style="color:white" href="https://accounts.google.com/ServiceLogin?hl=lv">Ieiet</a></span>
		</li>
	</div>
	<form method="post" action="/contact">
    <input type="text" name="contact-name" placeholder="Enter your name">
    <br>

    <input type="email" name="contact-email" placeholder="Enter email address">
    <br>

    <textarea name="contact-message" placeholder="Enter your message"></textarea>
    <br>

    <button type="submit">Submit</button>
</form>
	<div class="bottom">
      <ul class="b_left">
        <li>
          <a href="https://www.google.com/intl/lv_lv/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Reklamēšana</a>
        </li>
        <li>
          <a href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Uzņēmējdarbība</a>
        </li>
        <li>
          <a href="https://www.google.com/intl/lv_lv/about/?utm_source=google-LV&utm_medium=referral&utm_campaign=hp-footer&fg=1">Plašāka informācija</a>
        </li>
      </ul>
      <ul class="b_right">
        <li>
          <a href="https://www.google.com/intl/en/policies/privacy/?fg=1">Konfidencialitāte</a>
        </li>
        <li>
          <a href="https://www.google.com/intl/en/policies/terms/?fg=1">Noteikumi</a>
        </li>
        <li>
          <a href="https://www.google.com/preferences?hl=en">Iestatījumi</a>
        </li>
      </ul>
    </div>
</body>
</html>
